services:
  mqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - /home/dietpi/docker/mosquitto/config:/mosquitto/config
      - /home/dietpi/docker/mosquitto/data:/mosquitto/data
      - /home/dietpi/docker/mosquitto/log:/mosquitto/log
