services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    ports:
      - "9000:9000/tcp"
    environment:
      - TZ=Europe/Helsinki
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /docker/portainer:/data
